In [6]:
import pandas as pd
import time
import datetime

pd.set_option('display.max_columns', None)

In [7]:
df = pd.read_csv('./subscribers.csv')
df.head()

,Unnamed: 0,subid,package_type,num_weekly_services_utilized,preferred_genre,intended_use,weekly_consumption_hour,num_ideal_streaming_services,age,male_TF,country,attribution_technical,attribution_survey,op_sys,months_per_bill_period,plan_type,monthly_price,discount_price,account_creation_date,trial_end_date,initial_credit_card_declined,join_fee,language,payment_type,num_trial_days,current_sub_TF,payment_period,last_payment,next_payment,cancel_date,trial_completed
0,162502,21724479,economy,NaN,comedy,access to exclusive content,NaN,NaN,NaN,False,UAE,facebook,facebook,Android,4,base_uae_14_day_trial,4.7343,4.5141,2020-01-24 21:44:16,2020-02-07 21:44:16,False,NaN,ar,Standard Charter,14,True,1,2020-02-07 21:44:16,2020-06-07 21:44:16,NaN,True
1,380374,23383224,base,NaN,comedy,access to exclusive content,22.951579,NaN,70.0,False,UAE,facebook,facebook,NaN,4,base_uae_14_day_trial,4.7343,4.5141,2020-03-01 15:44:35,2020-03-15 15:44:35,False,0.3303,ar,NaN,14,True,1,2020-03-15 15:44:35,2020-07-15 15:44:35,NaN,True
2,496617,26844789,enhanced,3.0,regional,replace OTT,36.001186,2.0,25.0,True,UAE,organic,facebook,iOS,4,base_uae_14_day_trial,4.7343,4.5141,2019-12-07 16:37:06,2019-12-21 16:37:06,False,0.1101,ar,NaN,14,False,0,NaN,NaN,NaN,True
3,356799,29417030,base,NaN,drama,replace OTT,20.051667,NaN,30.0,False,UAE,search,tv,Android,4,base_uae_14_day_trial,4.7343,4.5141,2020-01-27 16:09:32,2020-02-10 16:09:32,False,0.0367,ar,NaN,14,False,0,NaN,NaN,NaN,True
4,681701,26723159,base,4.0,comedy,replace OTT,22.951579,3.0,28.0,False,UAE,discovery,youtube,iOS,4,base_uae_14_day_trial,4.7343,4.5141,2019-10-05 12:57:07,2019-10-19 12:57:07,False,0.0367,ar,NaN,14,True,2,2020-02-19 12:57:07,2020-06-19 12:57:07,NaN,True

In [8]:
df['account_creation_date'] = pd.to_datetime(df['account_creation_date'])
df['trial_end_date'] = pd.to_datetime(df['trial_end_date'])
df['last_payment'] = pd.to_datetime(df['last_payment'])
df['next_payment'] = pd.to_datetime(df['next_payment'])
df['cancel_date'] = pd.to_datetime(df['cancel_date'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227628 entries, 0 to 227627
Data columns (total 31 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Unnamed: 0                    227628 non-null  int64
 1   subid                         227628 non-null  int64
 2   package_type                  192054 non-null  object
 3   num_weekly_services_utilized  117178 non-null  float64
 4   preferred_genre               191302 non-null  object
 5   intended_use                  224079 non-null  object
 6   weekly_consumption_hour       189698 non-null  float64
 7   num_ideal_streaming_services  115458 non-null  float64
 8   age                           192459 non-null  float64
 9   male_TF                       227359 non-null  object
 10  country                       227628 non-null  object
 11  attribution_technical         227628 non-null  object
 12  attribution_survey            224984 non-null  object
 13  op_sys                        214253 non-null  object
 14  months_per_bill_period        227628 non-null  int64
 15  plan_type                     227628 non-null  object
 16  monthly_price                 227628 non-null  float64
 17  discount_price                227628 non-null  float64
 18  account_creation_date         227628 non-null  datetime64[ns]
 19  trial_end_date                227628 non-null  datetime64[ns]
 20  initial_credit_card_declined  227628 non-null  bool
 21  join_fee                      192724 non-null  float64
 22  language                      227628 non-null  object
 23  payment_type                  92050 non-null   object
 24  num_trial_days                227628 non-null  int64
 25  current_sub_TF                227628 non-null  bool
 26  payment_period                227628 non-null  int64
 27  last_payment                  132237 non-null  datetime64[ns]
 28  next_payment                  130250 non-null  datetime64[ns]
 29  cancel_date                   36831 non-null   datetime64[ns]
 30  trial_completed               227628 non-null  bool
dtypes: bool(3), datetime64[ns](5), float64(7), int64(5), object(11)
memory usage: 49.3+ MB

In [19]:
df1 = df[(df['account_creation_date'] > '2019-07-01 00:00:00') & (df['account_creation_date'] < '2019-07-31 23:59:59')]
print(df1.shape[0])

df2 = df[(df['account_creation_date'] > '2019-08-01 00:00:00') & (df['account_creation_date'] < '2019-08-31 23:59:59')]
print(df2.shape[0])

df3 = df[(df['account_creation_date'] > '2019-09-01 00:00:00') & (df['account_creation_date'] < '2019-09-30 23:59:59')]
print(df3.shape[0])

df4 = df[(df['account_creation_date'] > '2019-10-01 00:00:00') & (df['account_creation_date'] < '2019-10-31 23:59:59')]
print(df4.shape[0])

df5 = df[(df['account_creation_date'] > '2019-11-01 00:00:00') & (df['account_creation_date'] < '2019-11-30 23:59:59')]
print(df5.shape[0])

df6 = df[(df['account_creation_date'] > '2019-12-01 00:00:00') & (df['account_creation_date'] < '2019-12-31 23:59:59')]
print(df6.shape[0])

df7 = df[(df['account_creation_date'] > '2020-01-01 00:00:00') & (df['account_creation_date'] < '2020-01-31 23:59:59')]
print(df7.shape[0])

df8 = df[(df['account_creation_date'] > '2020-02-01 00:00:00') & (df['account_creation_date'] < '2020-02-28 23:59:59')]
print(df8.shape[0])

25708
25434
20190
22412
26827
25339
24843
26753

In [24]:
df_list = [df1,df2,df3,df4,df5,df6,df7,df8]
attr_list = ['bing','display','facebook','search','youtube']

for i in df_list:
    for j in attr_list:
        dfx = i[i['attribution_technical'] == j]
        print(dfx.shape[0])

120
44
10011
1328
8
71
74
9855
1939
15
84
12
6129
1852
2
86
50
9489
2333
11
103
90
12994
2510
47
28
112
9288
3770
76
172
536
6289
4073
370
287
333
7525
4127
202